
body {
	background: rgb(242,162,248);
	background: linear-gradient(90deg, rgba(242,162,248,1) 0%, rgba(255,252,8,1));
	font-size: 11pt;
	line-height: 1.6em;
	font-family: Arial, sans-serif;
	color: black;
}

button {
	text-decoration: underline;
	color: blueviolet;
}

button:hover {
	text-decoration: none;
}

div {
	font-family: Arial, sans-serif;
}

.container {
	height: 200px;
	position: relative;
  }
  
  .center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
  }

strong {
	color: #ffffff;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	margin-bottom: 20px;
	color: black;
}

h1 {
	text-align: center;
	margin-left: 5em;
	margin-right: 5em;
}


h2 {
	font-size: 1.8em;
	margin-left: 3em;
	margin-right: 3em;
}

h3 {
	font-size: 1.2em;
}

p {
	margin-bottom: 1.25em;
	text-align: center;
}