<!DOCTYPE html>
<html lang="en">

    <head>
        <title>MusicGenny</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <h1>Hello there, welcome to <i><b>MusicGenny</b></i>, our generative music model!</h1>
        <h2>To get started, simply press the button below and we will create a new snippet of music for you!
        </h2>

        <p><i><b>WARNING: audio clips may or may not be pleasant as they have been A.I. generated. Proceed with
                    caution!</i></b></p>

        <br>
        <div class="container">
            <div class="center">
                <form method="post" action="/">
                    <input type="submit" value="Gimmie a song!" name="action1" />
                </form>
            </div>
        </div>
        <h2>Click <a href="http://127.0.0.1:5000/uploads">this link</a> to take a look at the list of generated clips
            you can view.
    </body>

</html>
