<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MusicGenny</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Hello there, welcome to <i><b>MusicGenny</b></i>, our generative music model!</h1>
        <h2>To get started, simply press the button below and we still create a new snippet of music for you!
        </h2>
        <br>
        <div class="container">
            <div class="center">
                <button type="button">Gimmie a song!</button>
            </div>
        </div>
        
    </body>
</html>